[Desktop Entry]
Name=Solid Squircular Light
X-KDE-PluginInfo-Author=Derpy
X-KDE-PluginInfo-Name=solid-squircular-light
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V3
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-blur=true
